@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1350px;
  }
}
@media (max-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1350px;
  }
}
@media (min-width: 1400px) {
  .container-fluid {
    max-width: 1545px;
  }
}
@media (max-width: 1400px) {
  .container-fluid {
    max-width: 1545px;
  }
}
body {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2;
}

@media (max-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
nav {
  background: none !important;
  background-color: var(--main-theme-color) !important;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2) !important;
}
nav.navbar-light .navbar-toggler {
  color: var(--main-theme-color-dark) !important;
  border-color: transparent;
  padding: 0;
}
nav.navbar-light .navbar-toggler:not(.collapsed) span {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 4 L26 26 M4 26 L26 4'/%3e%3c/svg%3e");
}
nav.navbar-light .navbar-toggler:focus {
  box-shadow: none;
}
nav a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--main-theme-color-dark) !important;
}
nav a.navbar-brand {
  font-size: 20px;
  font-weight: 300;
  color: var(--main-theme-color-dark) !important;
}
nav a.navbar-brand svg path {
  fill: var(--main-theme-color-dark) !important;
  stroke: var(--main-theme-color-dark) !important;
  fill-opacity: 1 !important;
  /* Ensure full opacity */
  stroke-opacity: 0.2 !important;
  /* Ensure full opacity */
}
@media screen and (max-width: 575px) {
  nav a.navbar-brand {
    font-size: 14px;
  }
}
nav a.navbar-brand span {
  font-family: "Caveat", cursive;
  font-size: 26px;
}
@media screen and (max-width: 575px) {
  nav a.navbar-brand span {
    font-size: 18px;
  }
}

.hero .scrollsvg {
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  z-index: 999;
  position: absolute;
}
.hero .container-fluid {
  padding-top: 180px;
  padding-bottom: 30px;
  padding-right: 0;
  position: relative;
}
@media screen and (max-width: 767px) {
  .hero .container-fluid {
    padding-top: 50px;
  }
}
.hero .container-fluid .image-wrapper {
  margin-top: 80px;
  position: relative;
}
.hero .container-fluid .image-wrapper .text_itsme {
  display: flex;
  position: absolute;
  top: 20%;
  left: 20%;
  flex-direction: column;
  align-items: flex-end;
  display: none;
}
@media screen and (max-width: 991px) {
  .hero .container-fluid .image-wrapper .text_itsme {
    top: 10%;
    left: 10%;
  }
}
.hero .container-fluid .image-wrapper .text_itsme p {
  text-align: center;
  font-family: "Caveat", cursive;
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.25px;
  margin-bottom: 0;
}
.hero .container-fluid .image-wrapper .text_itsme svg {
  margin-right: -30px;
  margin-top: 15px;
}
.hero .container-fluid .image-wrapper:hover .text_itsme {
  display: flex;
}
@media screen and (max-width: 767px) {
  .hero .container-fluid .image-wrapper {
    margin-top: 30px;
  }
}
.hero .container-fluid .background_img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  max-width: 220px;
}
@media screen and (max-width: 767px) {
  .hero .container-fluid .background_img {
    max-width: 20%;
  }
}
.hero .container-fluid .background_img.left {
  left: 0;
  bottom: 5%;
  right: auto;
  top: auto;
  max-width: 200px;
}
@media screen and (max-width: 767px) {
  .hero .container-fluid .background_img.left {
    max-width: 20%;
  }
}
.hero .row {
  position: relative;
  z-index: 3;
}
.hero .row h1 {
  color: #282323;
  font-size: 85px;
  font-style: normal;
  font-weight: 1000;
  line-height: 1.2;
  letter-spacing: 0.85px;
  margin-bottom: 15px;
}
@media screen and (max-width: 991px) {
  .hero .row h1 {
    font-size: 65px;
  }
}
@media screen and (max-width: 480px) {
  .hero .row h1 {
    font-size: 42px;
  }
}
.hero .row p {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.3px;
  margin-bottom: 30px;
}
@media screen and (max-width: 991px) {
  .hero .row p {
    font-size: 16px;
  }
}
.hero .row .link {
  margin-left: 30px;
}

.link {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.22px;
  gap: 5px;
}
.link svg {
  margin: 0 !important;
}
.link img {
  width: 33px;
  height: 33px;
  -o-object-fit: contain;
     object-fit: contain;
}
.link.backgrounded {
  border-radius: 11.923px;
  background: #FFF;
  box-shadow: 0px 0px 5.723px 0px #32A44B;
  padding: 8px 15px;
}
@media screen and (max-width: 991px) {
  .link {
    font-size: 14px;
  }
}
.link:hover {
  color: #000;
}

.btn.btn-custom {
  color: #000;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.27px;
  text-decoration-line: underline;
  border-radius: 32px;
  border: 1px solid #849BFF;
  background: #849BFF;
  padding: 10px 66px;
}
@media screen and (max-width: 1170px) {
  .btn.btn-custom {
    font-size: 24px;
    padding: 10px 35px;
  }
}
.btn.btn-custom:hover {
  background: transparent;
}

.project.mt-5 {
  margin-top: 70px !important;
}
.project .inner {
  padding: 20px;
  border-radius: 15px;
  background-color: var(--theme-color);
  box-shadow: 0px 4px 12.8px 0px rgba(0, 0, 0, 0.17);
}
.project .text-wrapper {
  max-width: 450px;
}
.project h2 {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.36px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1170px) {
  .project h2 {
    font-size: 34px;
  }
}
@media screen and (max-width: 767px) {
  .project h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 575px) {
  .project h2 {
    font-size: 28px;
  }
}
.project p {
  color: #000;
  font-size: 29px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.29px;
  margin-bottom: 17px;
}
@media screen and (max-width: 1170px) {
  .project p {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .project p {
    font-size: 16px;
  }
}
@media screen and (max-width: 575px) {
  .project p {
    font-size: 14px;
  }
}
.project .row .text-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .project .row .text-div {
    justify-content: flex-start;
  }
}
.project .row.flex-md-row-reverse .text-div {
  justify-content: flex-start;
}
.project .btn.btn-custom {
  border: 1px solid var(--btn-border);
  background: #fff;
  color: var(--btn-color);
  text-decoration: none;
  padding: 10px 35px;
  font-size: 25px;
}
@media screen and (max-width: 767px) {
  .project .btn.btn-custom {
    padding: 10px 30px;
    font-size: 18px;
  }
}
.project .btn.btn-custom:hover {
  background-color: var(--btn-color);
  border-color: #fff;
  color: #fff;
}

.get_intouch {
  padding: 140px 0;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
.get_intouch .backtotop {
  top: 15%;
  right: 15px;
  position: absolute;
}
@media screen and (max-width: 991px) {
  .get_intouch .backtotop {
    top: 0;
    transform: translateY(-100%);
  }
}
@media screen and (max-width: 767px) {
  .get_intouch .backtotop {
    height: 100px;
  }
}
@media screen and (max-width: 767px) {
  .get_intouch {
    padding: 70px 0;
  }
}
.get_intouch .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 780px;
  margin: 0 auto;
}
.get_intouch .inner h3 {
  color: #282323;
  text-align: center;
  font-size: 85px;
  font-style: normal;
  font-weight: 1000;
  line-height: 1.2;
  letter-spacing: 0.85px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1170px) {
  .get_intouch .inner h3 {
    font-size: 64px;
  }
}
@media screen and (max-width: 767px) {
  .get_intouch .inner h3 {
    font-size: 54px;
  }
}
@media screen and (max-width: 575px) {
  .get_intouch .inner h3 {
    font-size: 40px;
  }
}
.get_intouch .inner p {
  font-size: 25px;
  text-align: center;
  width: 95%;
  margin-bottom: 35px;
}
@media screen and (max-width: 1170px) {
  .get_intouch .inner p {
    font-size: 20px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 767px) {
  .get_intouch .inner p {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 575px) {
  .get_intouch .inner p {
    font-size: 16px;
  }
}
.get_intouch.innerpage .inner h3 {
  color: #282323;
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-weight: 1000;
  line-height: 1.2;
  letter-spacing: 0.85px;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .get_intouch.innerpage .inner h3 {
    font-size: 40px;
  }
}
@media screen and (max-width: 575px) {
  .get_intouch.innerpage .inner h3 {
    font-size: 36px;
  }
}
.get_intouch.innerpage .inner p {
  font-size: 30px;
  text-align: center;
  width: 95%;
  font-weight: 500;
  margin-bottom: 10px;
}
@media screen and (max-width: 1170px) {
  .get_intouch.innerpage .inner p {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .get_intouch.innerpage .inner p {
    width: 100%;
    font-size: 18px;
  }
}
@media screen and (max-width: 575px) {
  .get_intouch.innerpage .inner p {
    font-size: 16px;
  }
}
.get_intouch.innerpage .inner .btn {
  text-decoration: none;
  border-radius: 32px;
  border: 1px solid var(--theme-color-light);
  background: var(--theme-color-light);
  box-shadow: 0px 0px 2.5px 0px var(--theme-color-light);
  color: var(--main-theme-color);
  padding: 10px 35px;
  font-size: 27px;
}
.get_intouch.innerpage .inner .btn:hover {
  color: #fff;
  background: var(--main-theme-color);
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 15px;
}
.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links a svg {
  width: 50px;
  height: 50px;
}
.social-links a svg path {
  transition: all 0.2s ease-in-out;
}
.social-links a:hover svg path {
  fill: #849BFF;
}

.hero_page {
  padding: 76px 0 230px 0;
  margin-bottom: 230px;
  background-color: var(--main-theme-color);
}
@media screen and (max-width: 991px) {
  .hero_page {
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 575px) {
  .hero_page {
    margin-bottom: 80px;
  }
}
.hero_page h1 {
  color: var(--theme-color-pimary);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  .hero_page h1 {
    font-size: 72px;
  }
}
@media screen and (max-width: 767px) {
  .hero_page h1 {
    font-size: 54px;
  }
}
.hero_page p {
  color: var(--main-theme-color-dark);
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.3px;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .hero_page p {
    font-size: 22px;
  }
}
@media screen and (max-width: 767px) {
  .hero_page p {
    font-size: 20px;
  }
}
.hero_page p span {
  color: var(--accent);
  font-size: 30px;
}
@media screen and (max-width: 991px) {
  .hero_page p span {
    font-size: 26px;
  }
}
@media screen and (max-width: 767px) {
  .hero_page p span {
    font-size: 24px;
  }
}
.hero_page .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
}
.hero_page .image-wrapper img {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  max-height: 370px;
  -o-object-fit: contain;
     object-fit: contain;
}

.keypoints {
  padding: 30px 0 80px 0;
}
.keypoints .points {
  display: flex;
  max-width: 620px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}
.keypoints .points .point {
  padding: 0 25px;
}
@media screen and (max-width: 575px) {
  .keypoints .points .point {
    padding: 0 15px;
  }
}
.keypoints .points .point:not(:last-child) {
  border-right: 3px solid var(--theme-color-light);
}
.keypoints .points h3 {
  color: var(--theme-color-text);
  text-align: center;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.27px;
  margin-bottom: 15px;
}
@media screen and (max-width: 991px) {
  .keypoints .points h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 575px) {
  .keypoints .points h3 {
    font-size: 18px;
  }
}
.keypoints .points p {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.24px;
}
@media screen and (max-width: 991px) {
  .keypoints .points p {
    font-size: 20px;
  }
}
@media screen and (max-width: 575px) {
  .keypoints .points p {
    font-size: 16px;
  }
}

.lets-start .inner {
  text-align: center;
}
.lets-start .inner h2 {
  color: var(--theme-color-text);
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.8px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .lets-start .inner h2 {
    font-size: 68px;
  }
}
@media screen and (max-width: 991px) {
  .lets-start .inner h2 {
    font-size: 54px;
  }
}
@media screen and (max-width: 767px) {
  .lets-start .inner h2 {
    font-size: 44px;
  }
}
@media screen and (max-width: 575px) {
  .lets-start .inner h2 {
    font-size: 38px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 480px) {
  .lets-start .inner h2 {
    font-size: 34px;
  }
}

.icon-text {
  padding: 45px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 23px;
}
@media screen and (max-width: 991px) {
  .icon-text {
    padding: 20px 30px;
  }
}
@media screen and (max-width: 575px) {
  .icon-text {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  .icon-text.onboarding {
    padding: 20px 0;
  }
}
.icon-text.colored {
  background-color: var(--theme-color-light);
}
.icon-text svg {
  max-width: 70px;
  min-width: 70px;
  width: 100%;
  height: 70px;
}
.icon-text .text-wrapper {
  width: 100%;
  text-align: left;
}
.icon-text .text-wrapper h3 {
  color: var(--main-theme-color);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .icon-text .text-wrapper h3 {
    font-size: 26px;
  }
}
@media screen and (max-width: 575px) {
  .icon-text .text-wrapper h3 {
    font-size: 24px;
  }
}
.icon-text .text-wrapper p {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.24px;
  margin-bottom: 0;
}
@media screen and (max-width: 1170px) {
  .icon-text .text-wrapper p {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .icon-text .text-wrapper p {
    font-size: 18px;
  }
}
@media screen and (max-width: 575px) {
  .icon-text .text-wrapper p {
    font-size: 16px;
  }
}

.head {
  text-align: center;
}
.head h5 {
  color: var(--main-theme-color);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
@media screen and (max-width: 575px) {
  .head h5 {
    font-size: 26px;
  }
}
.head p {
  color: var(--theme-color-text);
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.27px;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .head p {
    font-size: 22px;
  }
}
.head svg {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  margin-top: 15px;
}

.head.mt-5 {
  margin-top: 80px !important;
}
@media screen and (max-width: 991px) {
  .head.mt-5 {
    margin-top: 50px !important;
  }
}

.causes-arrows {
  padding-top: 50px;
}
.causes-arrows .cause {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.causes-arrows .cause svg {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 0;
}
@media screen and (max-width: 767px) {
  .causes-arrows .cause svg {
    width: 30%;
  }
}
@media screen and (max-width: 575px) {
  .causes-arrows .cause svg {
    top: auto;
    transform: translate(-50%, 100%) rotate(90deg);
    right: auto;
    left: 50%;
    bottom: -15px;
    width: 50px;
  }
}
.causes-arrows .cause span {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.24px;
}
@media screen and (max-width: 991px) {
  .causes-arrows .cause span {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .causes-arrows .cause span {
    font-size: 16px;
  }
}
.causes-arrows .cause span strong {
  font-size: 27px;
}
@media screen and (max-width: 991px) {
  .causes-arrows .cause span strong {
    font-size: 22px;
  }
}
@media screen and (max-width: 767px) {
  .causes-arrows .cause span strong {
    font-size: 18px;
  }
}
.causes-arrows .cause img {
  width: 45%;
  max-height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  min-height: 150px;
}
@media screen and (max-width: 767px) {
  .causes-arrows .cause img {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .causes-arrows .cause img {
    width: unset;
  }
}

.stats {
  margin-top: 20px;
}
.stats .row {
  margin-top: 30px;
}
.stats .stat {
  width: 100%;
  padding: 30px 20px;
  background-color: var(--theme-color-light);
  border-radius: 40px;
}
.stats .stat p,
.stats .stat ul li {
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
}
.stats .stat p strong,
.stats .stat ul li strong {
  font-size: 25px;
}
@media screen and (max-width: 991px) {
  .stats .stat p strong,
  .stats .stat ul li strong {
    font-size: 22px;
  }
}
@media screen and (max-width: 575px) {
  .stats .stat p strong,
  .stats .stat ul li strong {
    font-size: 18px;
  }
}
@media screen and (max-width: 991px) {
  .stats .stat p,
  .stats .stat ul li {
    font-size: 22px;
  }
}
@media screen and (max-width: 575px) {
  .stats .stat p,
  .stats .stat ul li {
    font-size: 18px;
  }
}
.stats .stat ul li {
  margin-top: 0;
  text-align: left;
}

.list-benchmarks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.list-benchmarks img {
  max-width: 70px;
  width: 100%;
  margin-bottom: 20px;
}
.list-benchmarks ul {
  list-style: none;
  padding: 0;
}
.list-benchmarks ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
@media screen and (max-width: 991px) {
  .list-benchmarks ul li {
    font-size: 22px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 575px) {
  .list-benchmarks ul li {
    font-size: 18px;
    line-height: 1.2;
  }
}
.list-benchmarks ul li svg {
  max-width: 35px;
  min-width: 35px;
  width: 100%;
  height: 35px;
}

p.fs-5 {
  color: #000;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.24px;
}
@media screen and (max-width: 991px) {
  p.fs-5 {
    font-size: 22px !important;
  }
}
@media screen and (max-width: 575px) {
  p.fs-5 {
    font-size: 18px !important;
  }
}

.ui_design .inner {
  width: 100%;
  margin: 0 auto;
}
.ui_design .inner .desc {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.24px;
  color: #000;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.ui_design .icon-text .text-wrapper p {
  max-width: 640px;
  font-size: 27px !important;
  font-weight: 700;
  color: var(--theme-color-text);
}
@media screen and (max-width: 1170px) {
  .ui_design .icon-text .text-wrapper p {
    font-size: 22px;
  }
}
@media screen and (max-width: 767px) {
  .ui_design .icon-text .text-wrapper p {
    font-size: 18px;
  }
}

.number-absolute {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 20%);
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30.273px;
  background: linear-gradient(0deg, var(--main-theme-color) 0%, var(--main-theme-color) 100%);
  box-shadow: 0px 0.673px 2.691px 0px rgba(0, 0, 0, 0.25), 0px -1.345px 2.691px 0px rgba(255, 255, 255, 0.25) inset;
  color: var(--main-theme-color-dark);
}

.warningdiv {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 9.903px;
  border: 0.99px solid #D63939;
  background: #FFF;
  box-shadow: 0px 0px 4.753px 0px #D63939;
}
.warningdiv p {
  font-size: 18px;
  color: #000;
  font-weight: 400;
}
.warningdiv .redbagde {
  border-radius: 52.485px;
  background: #D63939;
  box-shadow: 1.981px 1.981px 7.922px 0px rgba(81, 1, 1, 0.3);
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 3px 10px;
}

@media screen and (max-width: 575px) {
  .wfull img {
    width: 80%;
  }
  .ui_design img.w-100 {
    width: 80% !important;
    display: flex;
    margin: 0 auto;
  }
}
img.gif {
  width: 89% !important;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 60px;
  box-shadow: 0px 0px 15.3px 6px rgba(0, 0, 0, 0.4);
}

.about_us {
  padding: 100px 0;
}
@media screen and (max-width: 991px) {
  .about_us {
    padding: 80px 0;
  }
}
@media screen and (max-width: 767px) {
  .about_us {
    padding: 50px 0;
  }
}
.about_us h2 {
  color: #000;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%;
  letter-spacing: 0.35px;
  text-transform: capitalize;
  margin-bottom: 15px;
}
@media screen and (max-width: 1199px) {
  .about_us h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 991px) {
  .about_us h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 575px) {
  .about_us h2 {
    font-size: 24px;
  }
}
.about_us p {
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.25px;
  margin-bottom: 15px;
}
@media screen and (max-width: 1199px) {
  .about_us p {
    font-size: 22px;
  }
}
@media screen and (max-width: 991px) {
  .about_us p {
    font-size: 18px;
  }
}
@media screen and (max-width: 575px) {
  .about_us p {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */